*{
    margin : 0;
    font-family: 'Open Sans', sans-serif;
}
.app{
    background-color: #FFFFEA;
    margin : auto;
    height : 100vh;
    text-align:center;
    

}

.logo {
    height : 60px;
    width : 60px;
}


.view {
    display: inline-block;
}

.title{
    padding-top : 20px;
    font-size : 50px;
    font-family: 'Roboto', sans-serif;
}

.buttoncontainer{
    display: inline-block;
    margin : auto;
    overflow: hidden;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    font-size: 60px;
}

button:hover{
    transform : rotate(-20deg)
}
.selected{
    transform : rotate(-20deg)
}

.about {
    padding : 10px;
    background-color : #F6F740;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-size : 20px;
    margin-bottom: 20px;
}

.projects {
    padding : 10px;
    background-color : #2176FF;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-size : 20px;
}

.blog {
    padding : 10px;
    background-color : #FFFFEA;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-size : 20px;
}

.videos {
    padding : 10px;
    background-color : #FF5E5B;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-size : 20px;
}

.footer{
    position : absolute;
    bottom: 0px;
    width: 100%;
    background-color : #2176FF;
}

span.date{
    margin : 15px;
    float : left;
}

span.social{
    margin : 15px;
    float : right ;
}